.git
build
out
*.iws
*.ipr
*.iml
.gradle
*.exe
.idea/
src/main/additionalFiles/
src/main/java/projector/controller/song/how to get height
src/main/resources/icons/load1.psd
src/test/resources/
Dockerfile
.editorconfig
e2e/
projector-docker/
src2/main/additionalFiles/
src2/test/resources/
src/test/
Projector.jar
Projector2.jar
project-jfx.jar
projector.log
projector.trace.db
/drafts/
launch4j.xml
recent.txt
songVersTimes
*.jar
/data/
settings.ini
Projector-server/src/main/java/com/bence/projector/server/Import.java
*.txt
*.zip
*.json
!projector-web/package.json
!projector-web/package-lock.json
!projector-web/angular.json
!projector-web/tsconfig.json
!projector-web/tslint.json
!projector-web/src/tsconfig.app.json
!projector-web/src/tsconfig.spec.json
!.vscode/tasks.json
!projector-desktop/.vscode/tasks.json
!projector-desktop/deploy.config.example.json
/Songbook/*.pem
/Songbook/*.jks
/Projector-server/src/main/resources/static/.well-known/acme-challenge/
mysql/
/.cache/
/gallery/
/Projector-server/aPublic_folder/update/app
*.class
/Projector-server/bin/
/projector-common/bin/
/.settings/
/projector-desktop-updater/bin
Projector-server/src/main/resources/application-local.properties
Projector-server/scripts/set-mysql-port.local.ps1
projector-desktop/src/main/resources/credentials-local.properties
projector-desktop/deploy.config.json