.git
build
out
*.iws
*.ipr
*.iml
.gradle
*.exe
.idea/
src/main/additionalFiles/
src/main/java/projector/controller/song/how to get height
src/main/resources/icons/load1.psd
src/test/resources/
Dockerfile
.editorconfig
e2e/
projector-docker/
src2/main/additionalFiles/
src2/test/resources/
src/test/
Projector.jar
Projector2.jar
project-jfx.jar
projector.log
projector.trace.db
/drafts/
launch4j.xml
recent.txt
songVersTimes
*.jar
/data/
settings.ini
Projector-server/src/main/java/com/bence/projector/server/Import.java
*.txt
*.zip
*.json
/Songbook/*.pem
/Songbook/*.jks
/Projector-server/src/main/resources/static/.well-known/acme-challenge/
mysql/
/.cache/
/gallery/
/Projector-server/aPublic_folder/update/app
*.class
/Projector-server/bin/
/projector-common/bin/
/.settings/
/projector-desktop-updater/bin