<div class="container">
  <div *ngIf="!passwordChanged && !tokenInvalid">
    <br>
    <mat-card>
      <mat-card-content>

        <h1>{{'Enter a new password'}}</h1>

        <form (ngSubmit)="onSubmit()" [formGroup]="form">
          <div class="formLayout">

            <div class="form-group">
              <mat-icon class="material-icon">mail</mat-icon>
              <label for="email">E-mail</label>
              <input type="email" id="email" name="email" class="form-control" disabled="disabled" value="{{email}}">
            </div>

            <div class="form-group">
              <mat-icon class="material-icon">security</mat-icon>
              <label for="password">{{'Password'}}</label>
              <input type="password" id="password" class="form-control" formControlName="password"
                required>
              <div *ngIf="formErrors.password" class="alert alert-danger">{{formErrors.password}}
            </div>
          </div>

          <div class="form-group">
            <mat-icon class="material-icon">security</mat-icon>
            <label for="reEnteredPassword">{{'Reenter password'}}</label>
            <input type="password" id="reEnteredPassword" class="form-control" formControlName="reEnteredPassword"
              required>
            <div *ngIf="formErrors.reEnteredPassword" class="alert alert-danger">{{formErrors.reEnteredPassword}}
            </div>
          </div>
          <br>
          <button type="submit" class="btn btn-success" [disabled]="!this.form.valid">{{'Submit'}}
          </button>
  </div>
  <br>
  </form>
  <div *ngIf="isNeedHurry()">
    <h4>{{'Token expiring at'}} {{expiryDate | date:'yyyy/MM/dd HH:mm'}}
      <br>{{'Remaining_time'}}: {{remainingTime | date:'mm:ss'}}
    </h4>
  </div>
  </mat-card-content>
  </mat-card>
</div>
<app-login *ngIf="passwordChanged && !tokenInvalid" [email]="email"></app-login>
<app-forgotten-password *ngIf="tokenInvalid"></app-forgotten-password>
</div>