<div class="container">
    <div class="centerClass">
        <br>
        <mat-card>
            <mat-card-content>
                <img src="assets/img/songbookIcon68.png">
                <h1>Present songs with the Projector desktop application</h1>
                <p>Now simple and faster find your songs by lyrics.</p>
                <a href="api/files/projector-setup.exe">
                    <button id="downloadButton" class="btn btn-success">Download Projector</button>
                </a>
                <br>
                <!-- <br>
                <a href="projector.jar" class="smallFont">Download jar executable</a>
                <br> -->
            </mat-card-content>
        </mat-card>
        <br>
        <br>
        <br>
        <br>
        <a href="assets/img/appPreview.png" target="_blank">
            <img id="appPreviewImage" src="assets/img/appPreview.png">
        </a>
    </div>
</div>