.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/photos/
/ignore/
/app/release/
/app/src/main/java/com/bence/songbook/utils/NumberRound.java
/app/src/androidTest/assets/songbook.db
/songbook-fixture-work.db
