.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  display: table;
  width: 100%;
}

.mat-table > .mat-header-row, .mat-table > .mat-row {
  display: table-row;
  padding: 0;
  border: none;
}

.mat-table > .mat-header-row > .mat-header-cell,
.mat-table > .mat-row > .mat-cell {
  display: table-cell;
  height: 48px;
  vertical-align: middle;
  padding: 0 0.5em;

  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-row:HOVER {
  background: #dadada;
  cursor: pointer;
}

#languageSelect {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}