<div class="example-full-width">
  <mat-form-field [ngClass]="titleCaseApplicable() || refactorable?'titleEdit':'example-full-width'" [formGroup]="form">
    <input type="text" id="title" [formControlName]="'title'" required matInput placeholder="Title">
  </mat-form-field>
  <button *ngIf="titleCaseApplicable()" type="button" mat-icon-button (click)="refactorTitleCase()"
    [matTooltip]="getTitleCaseToolTip()">
    <mat-icon svgIcon="change_case">change_case</mat-icon>
  </button>
  <button *ngIf="refactorable" type="button" mat-icon-button (click)="refactorTitle()"
  [matTooltip]="getTitleCaseRefactorToolTip()">
    <mat-icon svgIcon="magic_tool">magic_tool</mat-icon>
  </button>
</div>