<div class="container">
  <h5>Songbook | Download App for phone and tablet</h5>
  <table>
    <tr>
      <td>
        <a href='https://play.google.com/store/apps/details?id=com.bence.songbook&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'
          target="_blank">
          <img id="badge" alt='Get it on Google Play' src='assets/img/en_badge_web_generic.png' loading="lazy"
            cache-control="public, max-age=604800" />
        </a>
      </td>
      <td>
        <a href="https://apps.apple.com/us/app/songbook-christian/id1489053683?mt=8" target="_blank">
          <img id="appleBadge" alt='Download on the App Store' src='assets/img/badge-lrg.svg' loading="lazy"
            cache-control="public, max-age=604800" />
        </a>
      </td>
    </tr>
  </table>
</div>