<div class="container">
  <br>
  <div *ngIf="!emailSent">
    <mat-card>
      <mat-card-content>

        <h1>{{'Forgot password'}}</h1>
        <p>{{'Enter your email and we will send you a link with forward instructions to change your password.'}}</p>
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
          <div class="formLayout">

            <div class="form-group">
              <mat-icon class="material-icon">mail</mat-icon>
              <label for="email">E-mail</label>
              <input type="email" id="email" class="form-control" formControlName="email" required>
              <div *ngIf="formErrors.email" class="alert alert-danger">
                <mat-icon class="material-icon">error</mat-icon>{{formErrors.email}}</div>
            </div>
            <br>
            <button type="submit" class="btn btn-success" [disabled]="validAndNotSumbitted()">{{'Submit'}}</button>
          </div>
          <br>
        </form>

      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="emailSent">
    <br>
    <mat-card>
      <mat-card-content>
        <h4>
          {{'Check your email. We sent you a link to reset your password.'}}
        </h4>
      </mat-card-content>
    </mat-card>
  </div>
</div>
